td ,th{
    border: 1px solid black;
    text-align: center;
}

table, fieldset, td, th{
    margin:auto; 
    border: 2px solid rgb(67, 91, 228);   
}

#aviso{
    text-align: center;
    color: rgb(67, 91, 228);
}